.img-partner {
    width: 80% !important;
    aspect-ratio: 3 / 1 !important;
    object-fit: contain !important;
}

.img-klant {
    width: 80% !important;
    aspect-ratio: 3 / 1 !important;
    object-fit: contain !important;
}