body.scroll-nonactive {
    header {
        background: transparent !important;
        border-bottom: 1px solid transparent !important;
        transition-duration: 0.2s;
    }

    svg #Path_585 {
        fill: #fff !important;
        transition-duration: 0.2s;

    }

    #hb-overlay svg #Path_585 {
        fill: #ff6441 !important;
        transition-duration: 0.2s;

    }

    svg#hamburger line {
        stroke: #fff !important;
        transition-duration: 0.2s;

    }

}

body.scroll-active {
    header {
        background: #fff !important;
        border-bottom: 1px solid #ddd !important;
        transition-duration: 0.2s;
    }

    svg #Path_585 {
        fill: #ff6441 !important;
        transition-duration: 0.2s;

    }

    svg#hamburger line {
        stroke: #202624 !important;
        transition-duration: 0.2s;

    }

}

body.scroll-always-active {
    header {
        background: #fff !important;
        border-bottom: 1px solid #ddd !important;
        transition-duration: 0.2s;
    }

    svg #Path_585 {
        fill: #ff6441 !important;
        transition-duration: 0.2s;

    }

    svg#hamburger line {
        stroke: #202624 !important;
        transition-duration: 0.2s;

    }

}


.dropdown-menu li {
    list-style: none;
}

.dropdown-menu {
    width: 275px;
    margin-left: -20px;
    z-index: 1000;
}

.hover-dropdown:hover {
    .dropdown-menu {
        display: block;
    }
}

.hamburger-nonactive {
    #hb-overlay {
        left: -100%;
        transition: all .3s ease;
    }
}

.hamburger-active {
    #hb-overlay {
        left: 0px;
        transition: all .3s ease;
    }

    overflow-y: hidden;
}


a.menu-item::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #ff6441;
    transition: width .3s;
}

a.menu-item:hover::after {
    width: 100%;
}

a.menu-item.active::after {
    width: 100%;
    transition: width 0s;
}